.entrada{
    max-width: 870px;
    margin: auto;
    border: 2px solid transparent;
    border-radius: .5rem;
    transition-property: box-shadow;
    transition-duration: .3s;
}

.entrada:hover{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.entrada img{
    border-radius: .5rem;
}

.entrada_text{
    white-space: pre-wrap;
}

.entrada_content{
    padding: 2rem;
}

.entrada_content h3{
    font-weight: 500;
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.entrada_fecha{
    color: var(--primary);
    font-weight: 800;
}

.entrada_resumen{
    font-size: 1.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-align: justify;
    overflow: hidden;
}

.entrada_content a{
    background-color: var(--negro);
    border-radius: .5rem;
    color: var(--blanco);
    font-weight: 900;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 1rem 0;
    text-align: center;
    transition-property: background-color;
    transition-duration: .2s;
    width: 100%;
}

.entrada_content a:hover{
    color: var(--blanco);
    background-color: var(--primary);
}

.entrada_article{
    max-width: 90%;
    margin: auto;
    padding: 3rem 0;
}

.entrada_article img{
    border-radius: .5rem;
}

.blog_fecha{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
}

.blog_title{
    font-weight: 900;
    color: var(--primary);
    margin: 0 0 3rem 0;
}

.blog_description{
    font-size: 1.8rem;
    text-align: justify;
}